/* Bendras stilius: */





/* Kazimiras stiliaus kodas: */

h1.pagrindine-antraste {
    font-size: 50px;
    color: blue;
}



/* Jonas stiliaus kodas: */

div.forma {
 background-color: grey; 
    text-align: center;
}



/* Vardas3 stiliaus kodas: */





/* Vardas4 stiliaus kodas: */
