/* Bendras stilius: */





/* Kazimiras stiliaus kodas: */

h1.pagrindine-antraste {
    font-size: 50px;
    color: rgb(51, 19, 197);
}



/* Jonas stiliaus kodas: */

div.forma {
 background-color: grey; 
}



/* Vardas3 stiliaus kodas: */





/* Vardas4 stiliaus kodas: */
